<form method="POST" action="/collaborators/create">
   <% include ./messages.ejs %>
  <div class="form-group">
    <label>Add Collaborator</label>
    <input type="text" name="username" placeholder="Enter Username" class="form-control"/>
       <input type="submit" value="Add Collaborator" class="btn btn-primary"/>
       </form>
  </div>
