<form method="POST" action="/collaborators">
   <% include ./messages.ejs %>
  <div class="form-group">
    <label>Add Collaborator</label>
    <input type="text" name="username" placeholder="Enter Username" class="form-control"/>
  </div>
